@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
}
input {
  all: inherit;
}

@layer components {
  .btn {
    @apply flex h-8 cursor-pointer items-center  justify-center gap-2 rounded-lg py-3 
    px-2 text-xs  font-medium duration-300;
  }
  .primary {
    @apply bg-blue-500 fill-white text-white hover:bg-blue-400;
  }
  .primary-light {
    @apply bg-blue-100 fill-blue-500 text-blue-500 hover:bg-blue-200;
  }
  .secondary {
    @apply bg-gray-100 fill-gray-500  text-gray-500 hover:bg-gray-200;
  }
  .secondary-light {
    @apply bg-none fill-gray-400  text-gray-400 hover:bg-gray-100;
  }
  .secondary-outlined {
    @apply border-[1px] border-gray-400 bg-none fill-gray-400  text-gray-400 hover:bg-gray-400
     hover:fill-white hover:text-white;
  }
  .danger-outlined {
    @apply border-[1px] border-red-500 bg-none fill-red-500 text-red-500 hover:bg-red-500
     hover:fill-white hover:text-white;
  }
}

.scroll-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scroll-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
